{% load staticfiles %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Branch Change Portal</title>
    
    
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">

    <link rel='stylesheet prefetch' href='{% static "css/font-awesome.min.css" %}'>

        <link rel="stylesheet" href="{% static "css/style.css" %}">

    
    
    
  </head>

  <body>

    <div class="logmod">

<!-- uncomment to see lists -->

        {% for joke in students %}
            <a href = "{% url "post_detail" pk=joke.pk %}"> {{ joke }} </a>
            <br>
            <br>
            {% for shake in prefers %}
                {% if shake.student == joke %}
                    {{ shake }}
                    <br>
                {% endif %}
            {% endfor %}
            <br>
            <br>
            <br>
        {% endfor %} 
        {% block content %}
        {% endblock %}
 
</div>
    <script src='{% static "js/jquery.min.js" %}'></script>

        <script src="{% static "js/index.js" %}"></script>

    
    
    
  </body>
</html>





<script >

function create(){
var roll = $("#user-email").val()
  var str1 = $("#user-pw").val();
  var str2 = $("#user-pw-repeat").val();
  
  if(!(str1 == str2)){
alert("password do not match");
  }
  else{

    if(!(roll.length == 9) || !(roll.charAt(0) == '1') || !(roll.charAt(1) == '5')){
      alert("invalid roll number");
    }
    else{

      
    }
  }

/*
for (i=0; i<9;i++ ) {

   num=boxes[i].getElementsByTagName('input');
for (j=0; j<9;j++ ) {
x[i][j]=parseInt(num[j].value);
}  
}*/
}
</script>